.text{
    color:white;
}
.text1{
    color:grey;
}
.text2{
    color: #1ab2ff;
}
.font{
    font-size: 12px;
    color: #1ab2ff;
}
p{
     color:grey;
}
.border{
    border-radius: 15px 15px 15px 15px;
}

  .box {
    border-radius: 15px 15px 15px 15px;
         background: #002233;
        border-color:#1ab2ff;
        width: 500px;
         margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 5px 15px 5px 15px;
      }
.btn{
        background-color:#1ab2ff;
        color: white;
        border: none;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
        padding: 5px 15px 5px 15px;
      }
      
     